.footer {
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    @include center-content;
    margin-top: 4rem;
    padding-top: 3rem;

    li{
        margin-bottom: 1rem;
    }

    @media (min-width: $desktop) {
        padding: 2rem 3rem;
        flex-direction: row;
        justify-content: space-around;

        &__list {
            display: grid;
            grid-template-columns: repeat(3, auto);
            gap: 1rem;

            li {
                text-align: left;
            }
        }

    }

    img {
        height: 3rem;
    }

    a {
        text-decoration: none;
        color: $dark-gray;

        &:active,
        &:hover {
            color: $strong-cyan;
        }
    }

    &__socials {
        display: flex;
        gap: 2rem;

        .icon {
            height: 60%;
        }
    }
}